<h1>Cinemalar</h1>
{% for Cinema in cinemas %}
    <ul>
        <li>
            <a href="{% url 'pagejangari' Cinema.pk %}">
                <div>kino nomi: {{ Cinema.title }}</div>
                <div>Poster: <img src="{{ Cinema.photo.url }}" alt="{{ Cinema.title }}"></div>
            </a>
        </li>
    </ul>
{% endfor %}

<h1>Seriallar</h1>
{% for Serial in serials %}
    <ul>
        <li>
            <a href="{% url 'serial_detail' Serial.pk %}">
                <div>Serial nomi: {{ Serial.title }}</div>
                <div>Poster: <img src="{{ Serial.photo.url }}" alt="{{ Serial.title }}"></div>
            </a>
        </li>
    </ul>
{% endfor %}

