<div>
    <h1>salom</h1>
    <div>kino nomi: {{ object.title }}</div>
    <div>Poster: <img src="{{ object.photo.url }}" alt="{{ object.title }}"></div>

    {% if object.videos.all %}
        {% with first_video=object.videos.first %}
        <div>
            <video width="320" height="240" controls>
                <source src="{{ first_video.video_file.url }}" type="video/mp4">
                Sizning brauzeringiz video tagini qo'llab-quvvatlamaydi.
            </video>
        </div>
        {% endwith %}

        <h2>Barcha videolar:</h2>
        <ul>
        {% for video in object.videos.all %}
            <li>
                <a href="{% url 'video_detail' video.pk %}">
                    Video {{ forloop.counter }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Hech qanday video mavjud emas.</p>
    {% endif %}
</div>
